<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table align="center" border="0">
    <tr bgcolor="#534f50">
        <th height="100px" width="10000px" colspan="2">
            <button type="submit"><a href="/login/"> HOME</a></button>
            <button type="submit"><a href="/admin1/">ADMIN</a></button>
            <button type="submit"><a href="/user/">USER</a></button>
        </th>
    </tr>
    <tr bgcolor="#9c9899">
        <th height="100px" width="1000px">
            <h3> A NETWORK -BASED SPAM DETECTION FRAMEWORK FOR REVIEWS IN ONLINE SOCIAL</h3>
                                    <h3>MEDIA</h3>
        </th>
    </tr>
</table>
</body>
</html>